<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{% static "login-static/login-style.css" %}'>
    <title>Login</title>
</head>
<body>
    <h1>Login Page</h1>
    <header>
        <h1>LOGIN</h1>
    </header>
    <section>
            {% csrf_token %}
            <p id="errormessage"></p>
            <input type="email" name="emailid" placeholder="Email ID" id="email" required>
            <input type="password" name="password" placeholder="Password" id="password" required>
            <button type="submit" id="submit" >SUBMIT</button>
            <!-- <a href="../signup/">SIGN UP</a> -->
    </section>
    <script src="{% static 'login-static/login-script.js' %}" defer></script>
</body>
</html>