<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'reset-static/reset-style.css' %}">
    <title>Reset Page</title>
</head>
<body>
    <h1>Password Reset</h1>
    <header>
        <h1>RESET</h1>
    </header>
    <section>
            {% csrf_token %}
            <p id="errormessage"></p>
            <input type="email" name="emailid" placeholder="Email ID" id="email" required>
            <input type="password" name="c_password" placeholder="Current Password" id="c_password" required>
            <input type="password" name="n_password" placeholder="New Password" id="n_password" required>
            <button type="submit" id="submit" >RESET PASSWORD</button>
            <a href="../login/">Login</a>
    </section>
    <script src="{% static 'reset-static/reset-script.js' %}" defer></script>
</body>
</html>