<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'settingpage-static/setting-css.css' %}">
    <title>Document</title>
</head>
<body>
    {% include 'home/common-nav-bar/nav-bar.html'%} <!-- Tried well enough to not get style conflicts-->
    <h1>Setting Page</h1>
    <h3>Username : {{ username }}</h3>
    <h3>Email ID : {{ useremail }}</h3>
    <h3>Password :</h3>
    <button id="resetUser">Reset Password</button>
    <h3>Profile Photo : Update</h3>
    <button id="logoutUser">Logout</button>
<script src="{% static 'settingpage-static/setting-script.js' %}" defer></script>
</body>
</html>